CORE_ENVIRONMENT=

SERVER_ADDRESS=

DB_DRIVER=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=
DB_PORT=
DB_SOURCE_DEV=

DB_SOURCE=

TOKEN_SYMMETRIC_KEY=
ACCESS_TOKEN_DURATION=

DOCKER_IMAGE=
CONTAINER_NAME=
CONTAINER_PORT=
